name: R-CMD-check

on:
  push:
    branches: [main, development]
  pull_request:
    branches: [main, development]

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macOS-latest,   r: 'release'}
          - {os: windows-latest, r: 'release'}
          - {os: ubuntu-latest,   r: 'release'}
    
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
    
    steps:
      - uses: actions/checkout@v3
      
      - uses: r-lib/actions/setup-pandoc@v2
      
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true
      
      
      - name: Install Traderverse dependencies from GitHub
        run: |
          install.packages("remotes")
          remotes::install_github("Traderverse/tradeengine", upgrade = "never")
          remotes::install_github("Traderverse/tradeio", upgrade = "never")
          remotes::install_github("Traderverse/tradefeatures", upgrade = "never")
          remotes::install_github("Traderverse/tradeviz", upgrade = "never")
          remotes::install_github("Traderverse/trademetrics", upgrade = "never")
        shell: Rscript {0}
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check
      
      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
